<html>
<body>
	<h3>Income Prediction Form</h3>

<div>
<form action="/predict" method="POST">
    <input type="text" id="transactionAmount" name="transactionAmount">
	<label for="transactionAmount">transactionAmount</label>
    <br>

    <input type="text" id="dateTimeTransaction" name="dateTimeTransaction">
	<label for="dateTimeTransaction">dateTimeTransaction</label>
	<br>

    <input type="text" id="cardBalance" name="cardBalance">
	<label for="cardBalance">cardBalance</label>
	<br>

    <input type="text" id="merchantCategoryCode" name="merchantCategoryCode">
	<label for="merchantCategoryCode">merchantCategoryCode</label>
	<br>

    <input type="text" id="latitude" name="latitude">
	<label for="latitude">latitude</label>
	<br>

    <input type="text" id="longitude" name="longitude">
	<label for="longitude">longitude</label>
    <br>

    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
